.root {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0.5rem;
}

.tableContainer {
  margin-bottom: 1rem;
}

.table {
  table-layout: fixed;
  width: auto;
}

.cell {
  background: var(--color);
} 

.rowTitle {
  composes: cell;
  width: 100%;
  padding: 0.4rem;
  font-size: 0.70rem;
}

.button {
  height: 2rem;
  width: 2.5rem;
  margin: 0.2rem;
  min-width: 0;
  background: var(--color, white) !important;
}

.playersTable {
  composes: table;
  margin-left: auto;
}

.player {
  border: none;
}

.player:focus-within {
  background: var(--paletteSecondaryLight);
}

.player .button {
  padding: 0.2rem;
  font-size: 0.75rem;
  color: black;
  overflow: hidden;
}

.player input {
  opacity: 0;
  position: fixed;
}